<nav class="top-nav-bar">
    <!-- Input tag and icon div here -->
    <div class="search-input-container">
        <img id="search-icon" alt="Search Icon" src="../../../../assets/images/top-navbar/bx-search.png">
        <input id="search-box" class="search-input" placeholder="Search (Ctrl + /)">
    </div>
    <!-- Quick action icons and profile section here -->
    <div class="top-nav-menu">
        <div class="top-nav-items">
            <img class="quick-action-icon" alt="Language" src="../../../../assets/images/top-navbar/language.svg">
            <img class="quick-action-icon" alt="Applications" src="../../../../assets/images/top-navbar/categories.svg">
            <img class="quick-action-icon" alt="Switch to dark mode" src="../../../../assets/images/top-navbar/mode.svg">
            <img class="quick-action-icon" alt="Notifications" src="../../../../assets/images/top-navbar/notifications.svg">
        </div>
        <div class="profile-section">
            <div class="profile-picture">
                <img id="profile-image" alt="Profile" src="../../../../assets/images/profile-pics/male-yellow.svg">
                <div class="profile-status"></div>
            </div>
            
            <div class="user-details">
                <p id="user-name">John Abraham</p>
                <p id="user-title">Admin</p>
            </div>
            <img alt="logout" (click)="logout()" id="down-arrow" src="../../../../assets/images/top-navbar/switch.png">
        </div>
    </div>
</nav>